@import "macchiato.css";

* {
    font-family: "MesloLGM Nerd Font Mono";
    font-size: 14px;
}

window#waybar {
    background: none;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-top: 6px;
    margin-right: 12px;
    margin-left: 7px;
    font-size: 4px;
    border-radius: 15px;
    background-color: @base;
    border: @crust;
}

#workspaces button {
    color: @overlay0;
    font-weight: bold;
    background: transparent;
    border-radius: 0px;
}

#workspaces button.active {
    color: @blue;
}

#workspaces button.urgent {
    color: @green;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: @overlay2;
}

#window {
    margin-top: 6px;
    margin-left: 60px;
    margin-right: 60px;
}

#custom-spotify {
    color: @text;
    margin-top: 6px;
}

#temperature {
    margin-top: 6px;
    margin-left: 0px;
    border-radius: 0px;
    padding: 0 10px;
    color: @lavender;
    background-color: @base;
    border: @crust;
}

#pulseaudio {
    margin-top: 6px;
    margin-left: 12px;
    margin-right: 0;
    border-radius: 15px 0 0 15px;
    padding: 0 10px;
    color: @lavender;
    background-color: @base;
    border: @crust;
}

#network {
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 0;
    border-radius: 0;
    padding: 0 10px;
    color: @sapphire;
    background-color: @base;
    border: @crust;
}

@keyframes blink {
    to {
        background-color: #bf616a;
        color: #d8dee9;
    }
}

#cpu {
    margin-top: 6px;
    margin-left: 0px;
    border-radius: 0px;
    padding: 8px 10px;
    color: @teal;
    background-color: @base;
    border: @crust;
}

#memory {
    margin-top: 6px;
    margin-left: 0px;
    border-radius: 0px;
    padding: 8px 10px;
    color: @green;
    background-color: @base;
    border: @crust;
}

#clock {
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 5px;
    border-radius: 0 15px 15px 0;
    padding: 8px 10px;
    color: @rosewater;
    background-color: @base;
    border: @crust;
}

#tray {
    margin-top: 6px;
    margin-right: 7px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: @text;
    background-color: @base;
    border: @crust;
}
